# Variables for environment specific configuration (e.g. development or production).

# Add variables to this template file, but do not set values to them. This will be used as template to generate dotenv files for different environments.
# Once the variables are set, remove these comments to avoid confusion.