# Variables for environment specific configuration (e.g. development or production).
# Copy this file to .env.development or .env.production and fill in the values.

## Service specific configuration

# Service host
MNZ_PB_HOST=

# Service port
MNZ_PB_PORT=

# Set to "true" to enable remote debugging (e.g. with Visual Studio Code).
MNZ_PB_REMOTE_DEBUG=

# Set to "true" to wait for the debugger to attach before starting the application.
MNZ_PB_WAIT_DEBUGGER=

# Database URL
MNZ_PB_DATABASE_URL=


## Keycloak related variables


# Keycloak server URL
MNZ_PB_KEYCLOAK_SERVER_URL=

# Keycloak realm
MNZ_PB_KEYCLOAK_REALM=

# Keycloak client ID
MNZ_PB_KEYCLOAK_CLIENT_ID=

# Keycloak client secret key
MNZ_PB_KEYCLOAK_CLIENT_SECRET_KEY=


## CORS related variables

# CORS allowed origins (comma-separated list)
MNZ_PB_CORS_ALLOWED_ORIGINS=

# CORS allowed methods (comma-separated list)
MNZ_PB_CORS_ALLOWED_METHODS=

# CORS allowed headers (comma-separated list)
MNZ_PB_CORS_ALLOWED_HEADERS=


## SMTP server related variables

# SMTP host
MNZ_PB_SMTP_HOST=

# SMTP port
MNZ_PB_SMTP_PORT=

# SMTP username
MNZ_PB_SMTP_USERNAME=

# SMTP password
MNZ_PB_SMTP_PASSWORD=

# SMTP sender email address
MNZ_PB_SMTP_SENDER=
