# Environment variables for Docker compose configuration.
# It will be used for both the Docker image and container creation.

# Working directory inside the Docker container
MNZ_MI_WORK_DIRECTORY=

# Service port
MNZ_MI_PORT=